<% if current_user.id == @user.id%>
  <p id="nav-button"><%= link_to 'Edit', edit_user_path(@user) %></p>
<% end %>

<%= render partial: 'user', locals: { user: @user } %>
<section id="profile">
  <div>
    <a id="get_activity" class="show" href="/users/<%= @user.id %>">Show activity</a>
  </div>
  <div id="list_activity">
  </div>
</section>