<h1>The internet was built for communities</h1>
<h3><%= pluralize(@communities.size, 'community') %> and counting!</h3>
<h2 id="devit"><strong>devit</strong> is a link aggregator site, similar to Reddit or Hacker News, where a user can submit a link and content to a community, as well as comment on and vote on those submissions.</h2>
