<li>
  <h2><%= post.title %></h2>
  <p>submitted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to "#{post.user.show_name}", user_path(post.user), class: "user-tag" %></p>
  <% post.tags.each do |tag| %>
    <h2 class="tags"><%= link_to tag.name, tag_path(tag) %></h2>
  <% end %>
</li>
