<h1>Recent Posts</h1>

<section id="list-posts" class="recent">
  <ul>
    <% @recent_posts.each do |post| %>
      <%= link_to community_post_path(post.community, post) do %>
        <%= render partial: 'post', locals: { post: post } %>
      <% end %>
    <% end %>
  </ul>
</section>
