/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, body {
  box-sizing: border-box;
}

::selection {
  background-color: #79FFE1;
  color: #000;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #111;
}

#devit {
  padding-top: 15%;
  max-width: 60%;
  margin: auto;
  text-align: justify;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

textarea {
  resize: none;
}

nav {
  z-index: 6;
  -webkit-box-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  position: fixed;
  display: -webkit-box;
  display: flex;
  height: 62px;
  line-height: 62px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

ul {
  list-style-type: none;
  width: 100%;
}

li {
  float: right;
  padding: 20px 20px 0 20px;
}

a {
  text-decoration: none;
  color: #111;
}

#logo {
  padding-left: 10px;
}

.avatar-small {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-top: 10px;
}

.wrapper {
  margin: auto;
  max-width: 80%;
  text-align: center;
  padding-top: 100px;
}

input:focus, textarea:focus, select:focus {
  outline-color: #79FFE1;
}

.actions input, .actions a, .field input, .field textarea {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 180px;
  height: 40px;
  border: 2px solid #000;
  font-size: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 10px;
}

.actions input, .actions a {
  cursor: pointer;
}

.field input {
  width: 40%;
}

.field textarea {
  width: 40%;
  height: 200px;
}

select {
  width: 40%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  border: 2px solid #000;
  font-size: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 10px;
}

.actions span {
  padding-left: 8px;
}

input#user_name, input#user_email, input#user_password, input#user_password_confirmation {
  font-size: 15px;
  width: 250px;
  height: 40px;
  border: 2px solid #808080;
  border-radius: 5px;
  margin-bottom: 10px;
}

.field label, .field em {
  font-size: 12px;
}

h4 {
  color: #808080;
}

footer {
  left: 0;
  bottom: 0;
  z-index: 6;
  -webkit-box-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  position: relative;
  display: -webkit-box;
  display: inline-block;
  height: 30px;
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.notice {
  color: #1BBD02;
}

.alert, #error_explanation {
  color: #E60000;
}

#nav-button {
  margin-right: 10%;
  text-align: right;
}

@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 100%;
  }
}
