#list {
  width: 80%;
  margin: auto;
}

#list h2 {
  padding-top: 10px;
  margin-left: 0;
  padding: 0;
  display: flex;
  float: left;
}

#list h5 {
  margin-top: 60px;
  margin-left: 0;
  padding: 0;
  display: flex;
  float: right;
  font-weight: normal;
}

.description {
  padding-top: 10px;
  margin: 0;
  padding: 0;
  display: flex;
  float: left;
  text-align: justify;
}

#list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#list li {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;

  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#list li:hover {
  background: #f6f6f6;
  cursor: pointer;
}

.time-ago {
  display: flex;
  float: right;
  padding-top: 30px;
  text-align: justify;
}
