#list-posts h6 {
  padding-top: 10px;
  margin-left: 0;
  padding: 0;
  display: flex;
  float: left;
  font-size: 15px;
  font-weight: normal;
}

#new_comment textarea {
  margin: auto;
  width: 95%;
  align-items: center;
  height: 80px;
  font-size: 15px;
  overflow: hidden;
  display: flex;
  float: left;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#new_comment input {
  width: 5%;
  display: flex;
  float: right;
  border: none;
  font-size: 15px;
}

.comments {
  padding-top: 800px;
}
