#profile {
  margin: auto;
  width: 80%;
  max-width: 80%;
  text-align: left;
  padding: 0 20px 0 20px;
  display: inline;
  float: left;
}

.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

#profile h1 {
  padding: 10px 0 0 30px;
  font-size: 36px;
  float: right;
}

#profile div {
  padding-left: 180px;
}

#user-form div {
  font-size: 15px;
  margin: auto;
}

#user-form input, #edit-user input {
  font-size: 15px;
  width: 400px;
  height: 40px;
  border: 2px solid #808080;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 20px;
}

#user-form textarea {
  font-size: 15px;
  width: 400px;
  height: 80px;
  border: 2px solid #808080;
  border-radius: 5px;

}

#user-form label {
  font-size: 15px;
  margin-bottom: 0;
  align-items: baseline;
  margin-top: 50px;
}

.user-tag {
  margin-left: 10px;
  font-size: 13px;
  font-weight: bold;
  padding: 2px 5px 3px;
  border-radius: 2px;
  background: #79FFE1;
  color: #000;
}

#user-form .flairs input {
  width: 198px;
  display: inline;
}

select#user_flairs_attributes_0_user_flairs_experience_level {
  width: 198px;
  display: inline;
}

.show {
  font-weight: bold;
  padding: 2px 5px 3px;
  font-size: 22px;
  padding: 4px 8px;
  vertical-align: 6px;
  border-radius: 5px;
  min-width: 140px;
  color: #fff;
  background-color: #cc0000;
}

div .show {
  margin-right: 0;
}
